<!-- app.component.html -->

<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" href="#">FanClub</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#sidebar" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="sidebar">
    <ul class="navbar-nav">
      <li class="nav-item" (click)="closeNavbar()">
        <a class="nav-link" routerLink="/">Fanessa <3</a>
      </li>
      <li class="nav-item" (click)="closeNavbar()">
        <a class="nav-link" routerLink="/about">Wer bin ich?</a>
      </li>
      <li class="nav-item" (click)="closeNavbar()">
        <a class="nav-link" routerLink="/imprint">Impressum</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container-fluid">
  <div class="row page-content">
      <router-outlet></router-outlet>
  </div>
</div>
